In [4]:
import pandas as pd

In [5]:
dataset=pd.read_csv("E:/COLLEGE/Data Science/multiple linear/02Students.csv")
df=dataset.copy()
df

    Hours  sHours  Marks
0       0       6     34
1       1       7     36
2       1       6     33
3       1       8     39
4       1       8     42
5       2       8     45
6       2       6     38
7       3       6     45
8       3       7     53
9       3       7     46
10      3       8     56
11      4       8     59
12      4       7     55
13      4       7     56
14      5       8     72
15      5       6     59
16      6       6     62
17      6       7     71
18      7       8     78
19      7       8     88
20      7       6     61
21      7       6     74
22      8       7     71
23      8       8     89
24      9       8     82
25      9       5     67
26      9       8     89
27     10       8     81
28     10       8     82
29     11       7     79

In [6]:
#Split the data set into X and Y
X=df.iloc[ : , :-1]
Y=df.iloc[:, -1]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=1234)

In [8]:
#Create and test multiple linear regression model
from sklearn.linear_model import LinearRegression
#create regressor k object bnaya
std_reg=LinearRegression()
#Train or fit the training data 
std_reg.fit(x_train,y_train)

LinearRegression()

In [9]:
y_predict=std_reg.predict(x_test)

In [16]:
#calculate the r squared and eqn of line 
slr_score=std_reg.score(x_test,y_test)

In [17]:
slr_coefficient=std_reg.coef_
slr_intercept=std_reg.intercept_
#equn of line = y=1.31 + 4.67*hours+5.1*sleephors

In [19]:
print(slr_coefficient)
#two coefficicent

[4.66551498 5.07484959]

In [20]:
#for rmse
from sklearn.metrics import mean_squared_error
import math

slr_rmse=math.sqrt(mean_squared_error(y_test,y_predict))
print(slr_rmse)

5.75536394161202